<div id="main-footer-push"></div>
<footer id="main-footer" class="panel panel-default">
  &copy; 2015 Incentru.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Terms & Conditions", "terms" %>
</footer>
