<div id="main-footer-push"></div>
<footer id="main-footer" class="panel panel-default">
  &nbsp;&nbsp;&copy; 2015 Incentru.com All Rights Reserved. &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
   <%= link_to "Terms & Conditions", "/terms"%> &nbsp;&nbsp;&nbsp; 408.520.0574 &nbsp;&nbsp;&nbsp; info@incentru.com
</footer>
