<div class="jumbotron">
  <center><h1>Incentru</h1></center>
      <center><h3>Innovative auction design built with a purpose.</h3></center>
        
        <center>
            <br><br/>

            <% if user_signed_in? %>

            <% else %>
              <p>
                  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-success btn-lg" %> 
                  <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
              </p>
            <% end %>

            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61574626-1', 'auto');
  ga('send', 'pageview');

</script>

        </center>
  </center>
</div>
