<div class="jumbotron">
  <center><h1><font color="#ecf0f1">Incentru</font></h1></center>
      <center><h3><font color="#ecf0f1">Innovative auction design built with a purpose.</font></h3></center>

        <center>
            <br><br/>

            <% if user_signed_in? %>

            <% else %>
              <p>
                  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-success btn-lg" %> 
              </p>
            <% end %>
        </center>
  </center>
</div>
