<h1>About</h1>
<p><b><b></p> 


<p><center><img src="http://www.village-auctions.co.uk/cms/page-images/RTR.png"></center></p>
<center><h3><b>Auctions</b></h3></center>
<div class="center-block">
<p><h3><small><b>Incentru offers innovative software solutions for mission critical government and B2B auctions.  Our customized auciton platform is designed to create efficent markets with an easy-to-use UI, which maximizes price discovery and liquidity.</b></small></h3></p>
</div>
<br><br/>

<p><center><img src="http://www.clker.com/cliparts/C/s/0/A/Y/u/hand-shake-button-md.png" alt=""Responsive image"" class="img-circle"></center></p>
<center><h3><b>Private Treaty Sales</b></h3></center>

<div class="center-block"><p><h3><small><b>We provide efficent private treaty sales for illiquid goods where there is a smaller number of buyers.  Our data-driven software helps us optimize assets appraisal, which is informed by real time market condiitons and prospective buyers.</b></small></h3></p></div>
<br><br/>

<p><center><img src="http://i.imgur.com/PhXWzRQ.png" alt=""Responsive image"" class="img-circle"></p>
<center><h3><b>Find Used Equipment You Need</b></h3></center>
<div class="center-block"><p><h3><small><b>We are the fastest growing marketplace to source, buy, and, sell used inudstrial equipment throughout the world.</b></small></h3></p></div>
<br><br/>
