<div class="jumbotron">
  <center><h1>Incentru</h1>
      <h3><i>Innovative auction design built with a purpose.</i></h3> 
        <p><a class="btn btn-success btn-lg" role="button">Sign Up Today</a> or
        <a class="btn btn-default btn-lg" role="button">Log In</a></p>
  </center>
</div>
