<div class="jumbotron">
  <center><h1>Incentru</h1>
    <h2><i>Innovative auction design built with a purpose.</i></h2> 
  <p>Click here to <a class="btn btn-success btn-lg" role="button">Sign Up Today</a></p></center>
</div>
